/src/.vs
/src/obj
/src/bin
/src/OpenCVSampleForm/obj
/src/OpenCVSampleForm/bin
/src/OpenCVSampleForm/sparkler.jpg
/src/OpenCVSampleForm/test.png
/src/OpenCVSampleForm/test2.png
/src/OpenCVSampleForm/test3.png
/src/OpenCVSampleForm/test4.png
/src/OpenCVSampleForm/wine.jpg
/src/OpenCVSampleForm/wintry.jpg
/src/OpenCVSampleForm/a.mp4
/src/OpenCVSampleForm/elephant.jpg
/src/OpenCVSampleForm/flamingo.jpg
/src/OpenCVSampleForm/hex.jpg
/src/OpenCVSampleForm/nape.jpg
/src/OpenCVSampleForm/plate.jpg
/src/OpenCVSampleForm/rose.png
/src/OpenCVSampleForm/snow.jpg
/src/res
/src/Tesseract/obj
/src/Tesseract/bin
/src/Tesseract.Drawing/obj
/src/Tesseract.Drawing/bin
/src/Tigeracter/obj
/src/Tigeracter/bin
/src/TigerOCRTest/obj
/src/TigerOCRTest/bin
/src/TigerSplash/obj
/src/TigerSplash/bin
/src/TigerWord/obj
/src/TigerWord/bin
/src/TigerWord.Core/obj
/src/TigerWord.Core/bin
/src/TigerWord.GoDTP/obj
/src/TigerWord.GoDTP/bin
/src/TigerWord.GoOCR/obj
/src/TigerWord.GoOCR/bin
/src/TigerWord.GoPDF/obj
/src/TigerWord.GoPDF/bin
/src/TigerOCRTest/.vs
/src/TigerOCR2017src.zip
